* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace !important;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

textarea {
  border: 3px;
  outline: none;
  resize: none;
  width: 50vw;
  height: 100vh;
  white-space: pre-wrap;
  border-right: 3px solid black;
  background-color: #0d1117;
  color: #c9d1d9;
  padding: 10px
}

textarea:disabled {
  background: #ffffff;
}

span {
  text-transform: none !important;
}