* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace !important;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #191f29;
  border-radius: 10px;
}

body {
  background-color: #0d1117;
  color: #ffffff;
}
